<header>
    <!-- site variables -->
    <div class="comment">
        <p class="comment">baseurl: {{site.baseurl}}</p>
        <p>url: {{site.url}}</p>
        <p>page.url: {{page.url}}</p>

    </div>

    <h1 id="title">
        <a href="{{site.url}}{{site.baseurl}}/">{{site.title}}</a>
    </h1>
    <p id="description">
        {{site.description}}
    </p>

    <hr/>
    <nav id="navigation">
        <a href="{{site.baseurl}}/">Home</a>
        /
        {% for page in site.pages %}
            <a href="{{site.baseurl}}{{ page.url }}">{{page.title}}</a>
            /
        {% endfor %}
        <a href="{{site.baseurl}}/feed.xml">RSS</a>
    </nav>
    <hr/>
</header>
